/* https://codepen.io/fannietaeyang/pen/xOQzvq */

body {
    background-color: #FFFFFF;
    color: black;
    font-size: 14px;
    font-family: "Lucida Grande", Verdana,Arial, Helvetica, sans-serif;
}

h1, h2, th {
    font-family: Georgia, "Times New Roman",Times, serif;
}

h1 {
    font-size: 20px;
}

.bingo-title {
    text-align: center;
    letter-spacing: 4px;
}

table {
    margin: auto;
    border-collapse: collapse;
}

#bingo-card {
    width: 700px;
}

.wrapper {
    margin: auto;
    padding: 1em;
    background-color: #FFFFFF;
}

.gradient {
    background: purple; /* For browsers that do not support gradients */
    /*background: -webkit-linear-gradient(left, rgba(255, 166, 0, 0.5) , rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 255, 255, 0.5), rgba(0, 0, 255, 0.5), rgba(238, 129, 238, 0.5)); !* For Safari 5.1 to 6.0 *!*/
    /*background: -o-linear-gradient(right, rgba(255, 166, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 255, 255, 0.5), rgba(0, 0, 255, 0.5), rgba(238, 129, 238, 0.5)); !* For Opera 11.1 to 12.0 *!*/
    /*background: -moz-linear-gradient(right, rgba(255, 166, 0, 0.5), rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 255, 255, 0.5), rgba(0, 0, 255, 0.5), rgba(238, 129, 238, 0.5)); !* For Firefox 3.6 to 15 *!*/
    /*background: linear-gradient(to right, rgba(255, 166, 0, 0.5) , rgba(255, 255, 0, 0.5), rgba(0, 128, 0, 0.5), rgba(0, 255, 255, 0.5), rgba(0, 0, 255, 0.5), rgba(238, 129, 238, 0.5)); !* Standard syntax (must be last) *!*/
}

th, td {
    padding: 10px;
    border: 2px #666 solid;
    text-align: center;
    height: 7.5em;
    width: 7.5em;
    overflow: hidden;
}

th {
    height: 1em;
}

#free, .pickedBG {
    background-color: #FF6666;
}

#save-btn {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: none;

    background-color: #e7e7e7;
    border-radius: 12px;

    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#save-btn:hover {
    background-color: #E0FFFF;
}
